.roster-editor {
  width: 100%;
  text-align: center;
}
.roster-editor .modal {
}
.roster-editor .modal h2 {
  font-size: 34px;
}
.roster-editor .modal .roles {
  margin-top: 15px;
  margin-bottom: 15px;
}
.roster-editor .modal .roles .item {
  display: inline-block;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.roster-editor .modal .roles .item:hover {
  transform: scale(1.1);
}
.roster-editor .modal .transfer-team-list {
  height: inherit;
  overflow-y: scroll;
  padding: 5px;
  height: 300px;
  margin-bottom: 25px;
}
.roster-editor .modal .transfer-team-list .bar {
  background-color: #231f20;
  border-radius: 5px;
  margin: 5px;
  padding: 0px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.roster-editor .modal .transfer-team-list .bar table {
  table-layout: fixed;
}
.roster-editor .modal .transfer-team-list .bar h3 {
  font-size: 24px;
}
.roster-editor .modal .transfer-team-list .bar:hover {
  background-color: #571d47;
}
.roster-editor .modal .transfer-team-list .bar .img {
  position: relative;
  height: 50px;
  display: inline-flex;
}
.roster-editor .modal .transfer-team-list .bar .img img {
  border-radius: 5px;
  height: 100%;
}
.roster-editor .modal .transfer-team-list .bar .img .mini-img {
  position: absolute;
  bottom: -15px;
  right: -15px;
}
.roster-editor .modal .transfer-team-list .bar .img .mini-img img {
  height: 35px;
}
.roster-editor .body {
}
.roster-editor .player-card {
  padding: 5px;
  margin: 3px;
  margin-left: 5px;
  color: #231f20;
}
.roster-editor .player-card img {
  height: 50px;
}
.roster-editor .player-card table {
  width: 100%;
  table-layout: fixed;
}
.roster-editor .player-card h3 {
  color: inherit;
  margin: 0px;
}
.roster-editor .player-card:hover {
  background-color: #231f20;
  color: #cdcdcd;
}
.roster-editor .player-card .control {
  text-align: center;
}
.roster-editor .player-card .control i {
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  cursor: pointer;
  font-size: 48px;
  margin-left: auto;
}
.roster-editor .team-card {
  padding: 15px;
  text-align: left;
  border: 2px solid #231f20;
  margin: 15px;
  background-color: rgba(34, 30, 31, 0.2);
}
.roster-editor .team-card i {
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  cursor: pointer;
  font-size: 48px;
  margin-left: 25px;
}
.roster-editor .team-card .title {
  position: relative;
}
.roster-editor .team-card .title h2 {
  border-bottom: 1px solid black;
  display: inline-block;
}
.roster-editor .team-card .title .league {
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
}
.roster-editor .team-card .title .league img {
  height: 100%;
}
.roster-editor .leagues {
  text-align: center;
  margin: 50px;
  min-height: calc(100vh - 300px);
}
.roster-editor .leagues .macro {
  font-size: 48px;
  text-align: left;
  width: 50%;
}
.roster-editor .leagues .emblems {
  height: 200px;
  width: 100%;
  text-align: center;
}
.roster-editor .leagues .emblems img {
  height: 100%;
  margin: 5px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.roster-editor .leagues .emblems img:hover {
  transform: scale(1.2);
}
