.media_player {
  background-color: #231f20;
  padding: 25px;
  border-radius: 5px;
  margin: 20px;
  position: relative;
  cursor: pointer;
}
.media_player h4 {
  margin-top: 0px;
  color: #cdcdcd;
}
.media_player i {
  position: absolute;
  top: 10;
  right: 0;
  cursor: pointer;
  color: #cdcdcd;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;

  font-size: 28px;
  margin-left: 20px;
  margin-right: 20px;
}
.media_player .video {
  width: 100%;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
