RewriteEngine On
RewriteRule ^api http://127.0.0.1:5000%{REQUEST_URI} [P]
RewriteRule ^u http://127.0.0.1:5000%{REQUEST_URI} [P]
RewriteRule ^t http://127.0.0.1:5000%{REQUEST_URI} [P]
RewriteRule ^a http://127.0.0.1:5000%{REQUEST_URI} [P]
RewriteRule ^c http://127.0.0.1:5000%{REQUEST_URI} [P]
RewriteRule ^static http://127.0.0.1:5000%{REQUEST_URI} [P]
RewriteCond %{HTTPS} !on
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
