.articles {
}
.articles .body {
  color: black;
}
.articles .body .icons {
}
.articles .body .icons .ico {
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.articles .body .icons i {
  cursor: pointer;
  font-size: 40px;
}
.articles .body .icons table {
  margin-left: 25px;
  table-layout: fixed;
  width: 35%;
}
.articles .body .icons input {
  margin: 25px;
  margin-left: 25px;
  width: 50%;
  font-size: 25px;
}
.articles .body h1 {
  color: inherit;
  margin-left: 25px;
  margin-top: 100px;
}
.articles .body table {
  table-layout: fixed;
  width: 100%;
}
