.anim-fade-out {
  -webkit-animation-name: webkitFadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes webkitFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.anim-video-fade-out {
  -webkit-animation-name: webkitAnimVideoFadeOut;
  animation-name: animVideoFadeOut;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes webkitAnimVideoFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animVideoFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.anim-video-fade-in {
  -webkit-animation-name: webkitAnimVideoFadeIn;
  animation-name: animVideoFadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes webkitAnimVideoFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animVideoFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
