.events {
}
.events .event-viewer {
  position: relative;
  padding-top: 50px;
}
.events .event-viewer h1 {
  color: black;
  margin: 0px;
  font-size: 32px;
}
.events .event-viewer .img {
  --dimensions: 125px;
  width: var(--dimensions);
  height: var(--dimensions);
}
.events .event-viewer .img img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.events .event-viewer h2 {
  margin: 0px;
}
.events .event-viewer h3 {
  color: black;
  font-size: 14px;
  margin: 0px;
  margin-left: 10px;
}
.events .event-viewer .items {
  overflow-y: scroll;
  height: 35vh;
}
.events .event-viewer .items table {
  table-layout: fixed;
}
.events .event-viewer .items .item {
  position: relative;
  --margin: 15px;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
  margin-right: 25px;
  height: 50%;
}
.events .event-viewer .items .item input {
  margin: 0px;
  font-size: 18px;
  width: 70%;
}
.events .event-viewer .items .item .btns {
  font-size: 28px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 75%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.events .event-viewer .items .item .btns i {
  margin-left: 10px;
  display: inline-flex;
  font-size: 25px;
}
.events .event-viewer .items i {
  font-size: 50px;
}
.events .event-viewer .icon-row {
}
.events .event-viewer .icon-row .glow {
}
.events .event-viewer .icon-row img {
  display: inline-flex;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
}
.events .body {
  padding-top: 50px;
}
.events .body .calendar {
  --padding: 50px;
  width: calc(100% - var(--padding) * 2);
  padding: var(--padding);
}
.events .body .calendar .tile {
  --tile_height: 200px;
  height: var(--tile_height);
  color: black;
  border-radius: 0px;
}
.events .body .calendar .tile:hover {
  background-color: rgba(0, 171, 255, 0.75);
}
.events .body .calendar .active {
  background-color: rgba(255, 179, 101, 0.75);
}
.events .body .calendar .dun {
  background-color: rgba(42, 42, 42, 0.15);
}
.events .body .calendar .std {
  background-color: inherit;
}
.events .body .calendar .sub-tile {
  position: relative;
  height: 100%;
}
.events .body .calendar .sub-tile .body {
}
.events .body .calendar .sub-tile .search {
  font-size: 75px;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% + 10px);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.events .body .calendar .sub-tile .search {
  opacity: 0.25;
}
.events .body .calendar .sub-tile .cog {
  position: absolute;
  top: 0;
  right: 0;
}
.events .body .calendar .sub-tile .listing {
  position: relative;
  --margin: 10px;
  text-align: left;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
  z-index: 1;
  padding: 2px;
  padding-top: 0px;
}
.events .body .calendar .sub-tile .title {
  position: relative;
  z-index: 1;
  padding: 2px;
  padding-bottom: 0px;
}
.events .body .calendar .sub-tile .title h4 {
  margin: 5px;
}
.events .body .calendar .sub-tile .listing p {
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
.events .body .calendar .sub-tile .img {
  width: 100%;
  height: 85%;
  position: absolute;
  top: 0;
  z-index: 0;
  background-color: black;
  border-radius: 6px;
  overflow-y: hidden;
}
.events .body .calendar .sub-tile .img img {
  width: 100%;
  opacity: 0.5;
}
.events .body .calendar .container {
  position: relative;
  width: 100%;
}
.events .body .calendar .container p {
  font-size: 11px;
}
.events .body .calendar .container .body {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 25px;
}
.events .body .calendar .container .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.events .body .calendar .container .video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
