.player_search {
  width: 100%;
  text-align: center;
}
.player_search .form {
  position: relative;
  background-color: transparent;
  text-align: left;
  padding: 50px;
}
.player_search .form .cog {
  position: absolute;
  top: 0%;
  right: 0%;
  font-size: 48px;
  margin: 25px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  color: #231f20;
}
.player_search .form .cog i {
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.player_search .form .poro {
  text-align: center;
  margin: 50px;
  opacity: 0.5;
}
.player_search .form .poro img {
  height: 25vw;
}
.player_search .checkboxes {
}
.player_search .search-positions {
  height: 55px;
  position: relative;
}
.player_search .search-positions img,
.player_search .search-positions i {
  margin: 5px;
  display: inline-block;
  height: 100%;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.player_search .search-positions i {
  position: absolute;
  top: 12.5%;
  font-size: 40px;
  color: #71899c;
}
.player_search .search-positions img:hover,
i:hover {
  transform: scale(1.2);
}
.player_search input {
  width: 50%;
  font-size: 24px;
  color: #231f20;
}
.player_search .emblems {
  height: 200px;
  width: 100%;
  text-align: center;
  margin-bottom: 75px;
}
.player_search .emblems img {
  height: 100%;
  margin: 5px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.player_search .emblems img:hover {
  transform: scale(1.2);
}
.player_search table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}
.player_search tr {
  background-color: #231f20;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.player_search tr:hover {
  background-color: #571d47;
}
.player_search .nohover {
  text-align: center;
  cursor: auto;
  background-color: transparent;
}
.player_search .nohover:hover {
  background-color: transparent;
}
.player_search .nohover h3 {
  color: #231f20;
  cursor: pointer;
  display: inline-flex;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.player_search .nohover h3:hover {
  transform: scale(1.1);
}
.player_search td {
  border: solid 1px #000;
  border-style: solid none;
  padding: 10px;
}
.player_search td:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.player_search td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.player_search .icons {
  text-align: center;
  height: 100%;
}
.player_search .icons .element {
  position: relative;
  display: inline-block;
  height: 100%;
}
.player_search .icons .element .position {
  position: absolute;
  height: 100%;
  top: 75%;
  right: 0;
}
.player_search .icons .element .position img {
  height: 25%;
}
.player_search .icons .element .position i {
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: rgb(42, 42, 42);
  font-size: 20px;
}
.player_search .username {
  text-align: center;
  margin: 50px;
}
.player_search .members {
  text-align: right;
}
.player_search .members table {
}
.player_search .members tr {
  background-color: transparent;
  cursor: pointer;
}
.player_search .members tr:hover {
  background-color: transparent;
}
.player_search .members td {
  border: solid 0px #000;
  border-style: solid none;
  padding: 10px;
}
.player_search .members td:first-child {
  border-left-style: solid;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.player_search .members td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.player_search .members h4 {
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}
.player_search .members .player {
  text-align: center;
  position: relative;
  display: inline-flex;
}
.player_search .members .player img {
  height: 30px;
  position: absolute;
  top: -22.5px;
  left: -35px;
}
.player_search .icons img {
  height: 100px;
}
.player_search .profile-img {
  height: 100px;
  text-align: center;
}
.player_search .profile-img img {
  border-radius: 10px;
  height: 100%;
}
