.article {
  --backgroundColor: white;
}
.article .four_zero_four {
  position: relative;
  height: calc(100vh - 200px);
}
.article .four_zero_four h1 {
  position: absolute;
  color: black;
  font-size: 72px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.article .body {
}
.article .body .title-img {
  position: relative;
  width: 100%;
  height: 300px;
}
.article .body .title-img h1 {
  --strokeColor: rgb(227, 227, 227);
  --fillColor: rgb(22, 22, 22);
  -moz-text-fill-color: var(--fillColor);
  -webkit-text-fill-color: var(--fillColor);
  -moz-text-stroke-color: var(--strokeColor);
  -webkit-text-stroke-color: var(--strokeColor);
  -moz-text-stroke-width: 0px;
  -webkit-text-stroke-width: 0px;
  color: inherit;
  font-size: 82px;
  font-weight: bolder;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
  -ms-transform: translate(-50%, -25%);
  z-index: 3;
}
.article .body .title-img .title {
  width: 65%;
  color: inherit;
  font-size: 82px;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 3;
}
.article .body .title-img .title input {
  color: inherit;
  font-size: 82px;
}
.article .body .title-img .title .ref input {
  width: 75%;
  color: inherit;
  font-size: 32px;
}
.article .body .title-img .title .tags {
  margin-top: 10px;
  font-size: 40px;
}
.article .body .title-img .title .tags table {
  width: 100%;
  table-layout: fixed;
}
.article .body .title-img .title .tags .ico {
  opacity: 0.25;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.article .body .title-img .title .tags .ico i {
  cursor: pointer;
}
.article .body .title-img .title .tags .selected {
  opacity: 1;
}
.article .body .title-img .background {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: var(--backgroundColor);
}
.article .body .title-img .background img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: 1;
}
.article .body .title-img .background .bottom {
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 100px;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    transparent,
    var(--backgroundColor)
  );
  z-index: 2;
}
.article .body .buffer {
  position: relative;
  background-color: var(--backgroundColor);
  width: 100%;
  height: 0px;
}
.article .body .buffer .img {
  position: absolute;
  left: 125px;
  top: -125px;
  width: 150px;
  height: 150px;
  z-index: 2;
}
.article .body .buffer .img img {
  width: 100%;
  height: 100%;
}
.article .body .content {
  background-color: var(--backgroundColor);
  padding: 50px;
  text-align: center;
}
.article .body .content li {
  color: black;
}
.article .body .content .add {
  text-align: right;
  font-size: 32px;
}
.article .body .content .add i {
  cursor: pointer;
}
.article .body .content .approve_bttn {
  background-color: rgb(0, 224, 255);
}
.article .body .content .unapprove_bttn {
  background-color: rgb(255, 0, 92);
}
.article .body .content button {
  margin-top: 25px;
  width: 50%;
}
.article .body .footer {
  position: relative;
  background-color: inherit;
  color: black;
}
.article .body .footer h2 {
  font-style: italic;
  color: inherit;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
