.user_account {
  position: relative;
}
.user_account video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -100;
}
.user_account .body-wrapper {
  padding: 150px;
}
.user_account .body {
  position: relative;
  margin-top: 100px;
  background-color: rgba(34, 30, 31, 1);
  height: 750px;
  border: 0px solid #cdcdcd;
  padding: 50px;
  padding-top: 250px;
}
.user_account .body .title {
  color: #fff;
  font-family: "Amarante", cursive;
  font-size: 72px;
  position: absolute;
  right: 10%;
  top: 5%;
}
.user_account .body .player_icon {
  --dims: 25vw;
  width: var(--dims);
  height: var(--dims);
  position: absolute;
  left: 25%;
  top: 0;
  -webkit-transform: translate(-25%, -50%);
  -ms-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
  border-radius: 50%;
  background-color: rgba(34, 30, 31, 1);
  padding: 3px;
}
.user_account .body .player_icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #221e1f;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  opacity: 0;
  color: #fff;
}
.user_account .body .player_icon img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
.user_account .edit {
  cursor: pointer;
}
.user_account .edit:hover {
  opacity: 0.25;
}
.user_account .logout {
  position: relative;
}
.user_account .logout i {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 48px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  color: #fff;
  margin: 25px;
}
.user_account .logout i:hover {
  color: #221e1f;
  transform: scale(1.2);
}
