.header {
  height: 75px;
  background-color: rgb(17, 17, 17);
  position: relative;
  z-index: 3;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.header .logo {
  position: absolute;
  left: 50%;
  top: 75%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: inherit;
  width: 75px;
  height: 75px;
  padding: 35px;
  border-radius: 50%;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.header .logo img {
  width: 100%;
}
.header .logo .blue-time {
  top: 0;
  left: -75px;
  position: absolute;
}
.header .logo .red-time {
  top: 0;
  right: -75px;
  position: absolute;
}
.header .team1 {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header .team2 {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header .team img {
  height: 100px;
}
.header h1 {
}
