.video_loop {
  position: absolute;
  height: 100%;
  overflow-y: hidden;
  width: 100%;
  z-index: -1;
}
.video_loop video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.video_loop .video1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.video_loop .video2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
}
.anim-video-fade-out {
  -webkit-animation-name: webkitAnimVideoFadeOut;
  animation-name: animVideoFadeOut;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes webkitAnimVideoFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animVideoFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.anim-video-fade-in {
  -webkit-animation-name: webkitAnimVideoFadeIn;
  animation-name: animVideoFadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes webkitAnimVideoFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animVideoFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
