@import url("./keyframes.css");
.fade-in {
  -webkit-animation: fade-in 0.5s forwards;
}
.fade-loop {
  width: calc(100%);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: opacity 20s infinite;
}
.fade-out {
  pointer-events: none;
  -webkit-animation: fade-out 0.5s forwards;
}
.grow {
  -webkit-animation: grow 0.5s forwards;
}
.grow-less {
  -webkit-animation: grow-less 0.5s forwards;
}
.shrink {
  -webkit-animation: shrink 0.5s forwards;
}
.shrink-less {
  -webkit-animation: shrink-less 0.5s forwards;
}
