.article-body {
  width: 100%;
  height: 100%;
  padding: 15px;
}
.article-body .spacer {
  height: 15px;
}
.article-body .margin {
  padding: 15px;
}
.article-body .content {
  position: relative;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}
.article-body .content img {
}
.article-body .content .poster {
  position: relative;
}
.article-body .content .poster img {
  width: 100%;
  height: calc(100% - 120px);
  object-fit: cover;
  object-position: 0 0;
}
.article-body .content .poster .signature {
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-family: "Indie Flower", cursive;
  font-size: 28px;
}
.article-body .content .poster .signature a {
  color: white;
}
.article-body .content .edit-bar {
  position: absolute;
  top: 0;
  right: 0;
}
.article-body .content .edit-bar i {
  margin: 15px;
  cursor: pointer;
  color: rgb(0, 209, 255);
}
.article-body .close-button {
  width: 50%;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 15px;
}
