html {
  scroll-behavior: smooth;
}
body {
  --universalBgColor: rgb(42, 42, 42);
  background-color: var(--universalBgColor);
  margin: 0;
}
table {
  width: 100%;
  table-layout: fixed;
}
table td {
  padding-top: 5px;
  padding-bottom: 5px;
}
input {
  font-size: 20px;
  bottom: 0;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid rgb(185, 185, 185);
  height: 35px;
  margin: 2.5px;
  margin-bottom: 25px;
  padding-left: 10px;
  color: rgb(185, 185, 185);
}
textarea {
  font-size: 20px;
  width: 100%;
  bottom: 0;
  border: 0;
  outline: 0;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 0px solid rgb(185, 185, 185);
  height: 300px;
  margin: 5px;
  margin-bottom: 25px;
  padding-left: 10px;
  color: rgb(185, 185, 185);
}
