.content-shape {
  --dim: 300px;
  width: var(--dim);
  height: var(--dim);
  border-radius: 50%;
  background-color: var(--bgColor);
  position: absolute;
  top: 0;
  top: calc(var(--dim) / -3);
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}
.content-shape img {
  position: absolute;
  width: 90%;
  left: 50%;
  top: 15px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media only screen and (max-width: 700px) {
  .content-shape {
    --dim: 150px;
    width: var(--dim);
    height: var(--dim);
  }
}
