.event {
  padding: 15px;
  height: 100%;
}
.event .wrapper {
  height: 100%;
  overflow-y: scroll;
}
.event .content {
  border-top: 2px solid black;
  padding: 5px;
  margin-top: 15px;
  padding-top: 15px;
}
.event .back-button {
  position: absolute;
  top: 25px;
  right: 25px;
  margin: 15px;
  cursor: pointer;
}
.event .image-container {
  overflow: hidden;
  text-align: center;
}
.event img {
  --width: 275px;
  border-radius: 50%;
  border: 1px solid white;
  width: var(--width);
  height: var(--width);
  object-fit: cover;
}
