body {
  background-color: #2a2a2a;
  color: #aaa;
  overflow-x: hidden;
}
h1 {
  font-size: 24pt;
  font-weight: bold;
  font-style: italic;
  color: #fff;
}
h2 {
  font-size: 18pt;
  font-weight: bold;
  font-style: italic;
  color: #fff;
}
h3 {
  font-size: 14pt;
  font-weight: bold;
  font-style: italic;
  color: #fff;
}
h4 {
  font-size: 14pt;
  font-weight: normal;
  color: #ccc;
}
img {
  max-width: 100%;
}
p {
  font-size: 14pt;
  margin-bottom: 0.5rem;
}
.grayGrad {
  background: #3a3a3a;
  background: -webkit-linear-gradient(top, #3a3a3a, #1f1f1f);
  background: -o-linear-gradient(bottom, #3a3a3a, #1f1f1f);
  background: -moz-linear-gradient(bottom, #3a3a3a, #1f1f1f);
  background: linear-gradient(to bottom, #3a3a3a, #1f1f1f);
  padding: 10px 15px;
}
.topBlocks {
  border: solid 1px #383838;
  margin: 0;
  border-radius: 2px;
}
.announceIcon {
  padding: 10px 15px 15px;
}
.announceHead {
  color: #eee;
  font-size: 12pt;
}
.announceDate {
  font-size: 9pt;
  color: inherit;
}
.theSection {
  background-color: #383838;
  border-radius: 2px;
  padding: 15px;
}
.theCards {
  background-color: #404040;
  border: solid 1px #525252;
  padding: 15px;
  text-align: center;
  border-radius: 2px;
  height: 100%;
}
.theCards img {
  padding-bottom: 15px;
}
.folderButton-unfinished,
.folderButton {
  background-color: #242424;
  border-radius: 2px;
  border: solid 1px #525252;
  display: table;
  margin: auto;
  padding: 10px 20px;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  cursor: pointer;
}
.linkButton-unfinished,
.linkButton {
  margin: 10px;
  background-color: #242424;
  padding: 15px;
  border-radius: 10px;
  border: solid 1px #525252;
  box-shadow: inset 0px 0px 2px #000;
  font-size: 16pt;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  cursor: pointer;
  text-align: center;
}
.folderButton:hover,
.linkButton:hover {
  background-color: #0cc;
}
.folderButton-unfinished:hover,
.linkButton-unfinished:hover {
  background-color: #940031;
}
.sign {
  background-color: #464646;
  text-align: center;
  justify-content: middle;
  margin: 4px 0px;
  border-radius: 5px;
  overflow: hidden;
}
.sign > .col-2 {
  background-color: #555;
  padding: 5px;
}
.sign > .col {
  padding: 5px;
}
.rssSpot {
  background-color: #242424;
  padding: 5px;
  border: solid 1px #4a4a4a;
  box-shadow: inset 0px 0px 2px #000;
  margin-top: 15px;
}
.footerBar {
  margin-top: 15px;
  width: 100%;
  padding: 15px;
  border-radius: 2px;
  border: solid 1px #777;
}
.socialIcon {
  display: inline-block;
  background-color: #1b1b1b;
  color: #fff;
  padding: 5px;
  width: 35px;
  text-align: center;
}
.socials {
  padding: 5px;
}
