.search {
  position: relative;
  height: 100%;
  padding: 15px;
}
.search .back-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  cursor: pointer;
  z-index: 10;
}
.search th {
  text-align: center;
  cursor: pointer;
}
.search .bar {
  position: relative;
  height: 75px;
  background-color: transparent;
}
.search .content {
  position: relative;
  border-top: 1px solid black;
  height: 50%;
  overflow-y: scroll;
}
.search .content tr {
  cursor: pointer;
}
.search .content tr:hover {
  background-color: rgba(27, 27, 27, 0.75);
}
.search img {
  width: 50px;
  border-radius: 50%;
  margin: 5px;
}
.search .captain-hat {
  position: relative;
}
.search .captain-hat img {
  position: absolute;
  top: -20px;
  width: 50px;
  border-radius: 50%;
  margin: 5px;
}
.search .button {
  position: absolute;
  bottom: 7.5px;
  width: 50%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
