.stats {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: var(--universalBgColor);
}
.stats .element {
  width: 100%;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.stats input {
  font-size: 30px;
}
.stats .radio {
  display: inline-flex;
}
