.user-profile {
  position: relative;
  height: 100%;
}
.user-profile .banner {
  position: relative;
  height: 100px;
  background-color: rgb(78, 78, 78);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 15px;
  margin-bottom: 100px;
}
.user-profile .settings {
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.user-profile .settings:hover {
  transform: scale(1.1);
}
.user-profile .back-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  cursor: pointer;
}
.user-profile .banner .icon-image {
  --dim: 175px;
  width: var(--dim);
  position: absolute;
  bottom: calc(var(--dim) / -2);
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: inherit;
  border-radius: 50%;
  padding: 5px;
}
.user-profile .banner .icon-image img {
  border-radius: 50%;
}
.user-profile .banner .icon-position {
  --dim: 175px;
  width: var(--dim);
  position: absolute;
  left: 100%;
  top: 50%;
}
.user-profile .banner .icon-position img {
  border-radius: 50%;
}
.user-profile .banner .banner-name {
  position: relative;
  top: 175%;
}
.user-profile .banner .banner-name h1 {
  position: absolute;
  left: 100px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.user-profile .banner .banner-name h2 {
  position: absolute;
  right: 100px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.user-profile .content {
  position: relative;
  margin-top: 45px;
  padding: 15px;
  overflow-y: scroll;
  height: 62.5%;
}
.user-profile .content .preferred-champions {
}
.user-profile .content .preferred-champions img {
  border-radius: 50%;
  width: 45px;
  display: inline-flex;
  margin: 3px;
}
.user-profile-background img {
  position: absolute;
  height: 100%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 0;
  opacity: 0.15;
}
.user-profile .content h4 {
  margin-left: 5px;
}
.user-profile .content table {
  width: 100%;
  min-width: 300px;
}
.user-profile .content table tr {
  border-bottom: 1px solid black;
}
.user-profile .content table .element {
  margin: 0px;
}
.user-profile .link-button {
  position: absolute;
}
