.card {
  width: 85%;
}
.card .active {
  box-shadow: 0px 0px 3px 5px rgba(255, 0, 230, 0.75);
}
.card .body {
  border: 1px solid rgb(42, 42, 42);
  border-radius: 0px;
  background-color: rgb(215, 215, 215);
  padding: 3px;
  padding-bottom: 0px;
}
.card .body .container {
  position: relative;
  --width: 100%;
  width: var(--width);
  height: calc(var(--width) * 1.5);
}
.card .body .ban-icon {
  font-size: 64px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: red;
}
.card .body .name {
  position: absolute;
  background-image: linear-gradient(to right, #2b2b2b, transparent);
  bottom: 10px;
  width: 100%;
}
.card .body .name h4 {
  margin-right: 50px;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 100%;
}
.card .body .name h5 {
  margin-right: 50px;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 50%;
}
.card .body img,
video {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  object-fit: cover;
}
