.reset_password {
}
.reset_password h3,
.reset_password h4 {
  color: black;
}
.reset_password button {
  margin-top: 25px;
}
.reset_password .body {
  padding: 125px;
}
.reset_password .body .unauthorized {
  color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.reset_password .body .content {
  border: 2px solid black;
  padding: 35px;
}
