body {
  overflow-x: hidden;
  background-color: #000;
}
div {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #fff;
  font-family: "Amarante", cursive;
  font-size: 20pt;
  text-shadow: 2px 2px #af3534;
}

h2 {
  color: #231f20;
  font-family: "Amarante", cursive;
  font-size: 40px;
}

h3 {
  color: #fff;
  font-family: "Amarante", cursive;
  font-size: 28px;
}

p {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

li {
  color: #fff;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: rgba(33, 33, 33, 0.8);
  color: #fff;
  padding: 10px 0px;
}

.title {
  font-family: "Amarante", cursive;
  font-size: 20pt;
  color: #af3534;
  text-shadow: 2px 2px #000;
}

.menuitem {
  font-family: "Amarante", cursive;
  font-size: 15pt;
  text-align: center;
  color: #fff;
  padding: 5px 10px;
}

.menuitem:hover {
  color: #af3534;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-family: "Amarante", cursive;
  font-size: 12pt;
  display: none;
  position: absolute;
  background-color: #231f20;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #af3534;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* The sidebar menu */
.sidebar {
  font-family: "Amarante", cursive;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #231f20;
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.5s;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  font-family: "Amarante", cursive;
  text-decoration: none;
  font-size: 24px;
  color: #c8c8c8;
  display: block;
  transition: 0.3s;
}
.mmenuitem {
  font-size: 16px !important;
}
.sidebar a:hover {
  color: #af3534;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  background-color: #231f20;
  padding: 10px 15px;
  border: none;
}
#main {
  transition: margin-left 0.5s;
  background-color: #231f20;
}

.social {
  color: #fff;
  margin-top: 5px;
  font-size: 18pt;
  text-align: right;
  -moz-opacity: 1;
  opacity: 1;
}

.social:hover {
  -moz-opacity: 0.6;
  opacity: 0.6;
  color: #ffdf00;
}

.topsection {
  min-height: 700px;
}

.logoheader {
  height: 150px;
  margin-top: 5px;
}

.bigbutton {
  border: 3px solid #231f20;
  border-radius: 50%;
  padding: 20px 20px;
  text-align: center;
  color: #231f20;
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 3px;
  font-family: "Amarante", cursive;
  font-size: 24pt;
  font-weight: 600;
}

.bigbutton:hover {
  color: #af3534;
}

.transitionblk {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 35%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 300px;
  margin-top: -200px;
}

/* Section One  */
.sect1bg {
  background-image: url(sectiontwobg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.sect1fore {
  background-image: url(sec2border.png);
  background-size: inherit;
  background-position: center;
  background-repeat: no-repeat;
}

.servbtn {
  border: 3px solid #000;
  border-radius: 50%;
  padding: 20px 20px;
  text-align: center;
  color: #231f20;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: "Amarante", cursive;
  font-size: 18pt;
  font-weight: 600;
  height: 170px;
  width: 170px;
}

.servbtn:hover {
  color: #af3534;
}

/* Section Two */
.sect2bg {
  background-color: #000;
}

.GoldBkg {
  background-color: rgba(171, 150, 16, 0.7);
  padding: 5px;
  color: #000;
  text-align: center;
  font-weight: 900;
}

.GoldBkg:hover {
  background-color: rgba(175, 53, 52, 0.7);
  padding: 5px;
  color: #ffffff;
  text-align: center;
}

.BlockTitle {
  font-family: "Amarante", cursive;
  font-size: 16pt;
}

.BlockText {
  font-size: 10pt;
}

.MobileBlockTitle {
  font-family: "Amarante", cursive;
  font-size: 16pt;
}

.footer {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#af3534+0,742e2d+45,742e2d+100&0+33,1+75 */
  background: -moz-linear-gradient(
    left,
    rgba(116, 46, 45, 0) 0%,
    rgba(116, 46, 45, 0) 15%,
    rgba(116, 46, 45, 0.29) 45%,
    rgba(116, 46, 45, 1) 75%,
    rgba(116, 46, 45, 1) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(116, 46, 45, 0) 0%,
    rgba(116, 46, 45, 0) 15%,
    rgba(116, 46, 45, 0.29) 45%,
    rgba(116, 46, 45, 1) 75%,
    rgba(116, 46, 45, 1) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(116, 46, 45, 0) 0%,
    rgba(116, 46, 45, 0) 15%,
    rgba(116, 46, 45, 0.29) 45%,
    rgba(116, 46, 45, 1) 75%,
    rgba(116, 46, 45, 1) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00742e2d', endColorstr='#af3534', GradientType=1);
  /* IE6-9 */
}

.socialfooter {
  color: #fff;
  font-size: 16pt;
}

.ftrtxt {
  font-family: "Amarante", cursive;
  font-size: 26px;
}

/* Grow */
.hvr-growbtn {
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-growbtn:hover,
.hvr-growbtn:focus,
.hvr-growbtn:active {
  transform: scale(1.3);
}
