body {
  background-color: rgb(42, 42, 42);
}
.hyperlinks {
  margin: 10;
  position: absolute;
  top: 15px;
  right: 15px;
}
.hyperlinks a {
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
  color: blue;
}
.hyperlinks a:hover {
  color: navy;
}
.header {
  background-size: 100%;
  height: 250px;
}
.header img {
  width: 100px;
  height: 100px;
  margin: 15px;
}
.header .button-cluster {
  float: right;
  font-size: 100px;
}
.header .button-cluster .button {
  margin: 15px;
  display: inline-flex;
}
.modal-buttons {
  margin: 0;
  position: absolute;
  top: 20%;
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.modal-buttons .button {
  margin: 15px;
}
.stats {
  position: absolute;
  top: 10%;
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.stats .element {
  width: 100%;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.stats .radio {
  display: inline-flex;
}
.stats input {
  font-size: 30px;
}
.background-video {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  overflow-y: hidden;
}
.fade-loop {
  width: calc(100%);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: opacity 20s infinite;
}

@-webkit-keyframes opacity {
  0% {
    -webkit-filter: opacity(100%);
  }
  35% {
    -webkit-filter: opacity(100%);
  }
  50% {
    -webkit-filter: opacity(0%);
  }
  85% {
    -webkit-filter: opacity(0%);
  }
  100% {
    -webkit-filter: opacity(100%);
  }
}
