body {
  background-color: rgb(42, 42, 42);
}
.hyperlinks {
  margin: 10;
  position: absolute;
  top: 15px;
  right: 15px;
}
.hyperlinks a {
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
  color: blue;
}
.hyperlinks a:hover {
  color: navy;
}
.header {
  background-size: 100%;
  height: 250px;
}
.header img {
  width: 100px;
  height: 100px;
  margin: 15px;
}
.header .button-cluster {
  float: right;
  font-size: 100px;
}
.header .button-cluster .button {
  margin: 15px;
  display: inline-flex;
}
#background-video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
}
