@-webkit-keyframes fade-in {
  0% {
    -webkit-filter: opacity(0%);
  }
  100% {
    -webkit-filter: opacity(100%);
  }
}
@-webkit-keyframes fade-out {
  0% {
    -webkit-filter: opacity(100%);
  }
  100% {
    -webkit-filter: opacity(0%);
  }
}
@-webkit-keyframes grow {
  0% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes grow-less {
  0% {
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes opacity {
  0% {
    -webkit-filter: opacity(100%);
  }
  35% {
    -webkit-filter: opacity(100%);
  }
  50% {
    -webkit-filter: opacity(0%);
  }
  85% {
    -webkit-filter: opacity(0%);
  }
  100% {
    -webkit-filter: opacity(100%);
  }
}
@-webkit-keyframes shrink {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}
@-webkit-keyframes shrink-less {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
  }
}
