.text_box {
  position: relative;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 0px;
  text-align: left;
  text-indent: 50px;
}
#text {
  --padding: 30px;
  font-family: "Amarante", cursive;
  font-size: 32px;
  width: calc(100% - var(--padding) * 2);
  padding: var(--padding);
  border-radius: 4px;
}
#text:focus {
  outline: 0px;
}
.text_box .icons {
  position: absolute;
  bottom: -80px;
  right: 0;
}
.text_box .icons i {
  margin: 10px;
  display: inline-flex;
  cursor: pointer;
  color: inherit;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.text_box .icons i:hover {
  transform: scale(1.2);
}
.text_box .change-warning {
  font-family: "Amarante", cursive;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  color: red;
}
