.text_box {
  position: relative;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  height: 100px;
  margin-bottom: 100px;
}
.text_box textarea {
  width: calc(100% - 30px);
  border-bottom: 0px;
  resize: none;
  padding: 15px;
  font-size: inherit;
  color: inherit;
  height: 100%;
}
.text_box .icons {
  position: absolute;
  bottom: -80px;
  right: 0;
}
.text_box .icons i {
  margin: 10px;
  display: inline-flex;
  cursor: pointer;
  color: inherit;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.text_box .icons i:hover {
  transform: scale(1.2);
}
.text_box .change-warning {
  font-family: "Amarante", cursive;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  color: red;
}
